
  @import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

body{
  font-family: 'Overpass', sans-serif;
  overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: #000000 ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}